# ignore python cache and compiled files
__pycache__/
.pytest_cache
.ruff_cache
.mypy_cache
*.py[cod]
*.pyo
*.pyd
*.pyc

# ignore venv
.venv

# ignore coverage
.coverage
coverage.xml
htmlcov

# ignore other
.idea

